form input {
  border: 0;
  padding: 10px;
  width: 85%;
  margin-right: 0.5%;
  border-radius: 5px;
}

form button {
  width: 14%;
  background: #5c6080;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

ul {
  padding-left: 0;
}

/* id are #
class are .
*/

.messagebox {
  position: relative;
  overflow-y: auto;
  height: 400px;
}

#messages {
  color: black;
  position: absolute;
  list-style-type: none;
  max-height: 400px;
  bottom: 0px;
  overflow-y: scroll;
  width: 100%;
}

#users {
  list-style-type: none;
}
.col-md-9 {
  background-color: #ede9f0;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
}
.col-sm-3 {
  background-color: #ebf5f7;
  border-radius: 10px;
  padding: 10px;
}

h6 {
  color: #8c0a56;
}

.container {
  border: 1px solid black;
  border-radius: 10px;
}

.button-text {
  color: white;
  font-weight: bolder;
}
